<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bitcoinGO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E68ED2320AE155B00A2DD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E68ED3720AE155E00A2DD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E68ED4220AE155F00A2DD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
